<%= render 'shared/mensajes_de_error',  object: f.object %>

<%= f.label :razon_social %>
<%= f.text_field :razon_social, class: 'form-control' %>

<%= f.label :tipo_documento_comercio %>
<div class="row">
  <div class="col-md-3">
    <div class="col-md-2 text-left">
    <%= f.label :tipo_documento_comercio, 'NIT'%>
    </div>
    <div class="col-md-1">
      <%= f.radio_button :tipo_documento_comercio, "NIT"%>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-2 text-left">
    <%= f.label :tipo_documento_comercio, "C.C." %>
    </div>
    <div class="col-md-1">
    <%= f.radio_button :tipo_documento_comercio, "C.C." %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-2 text-left">
    <%= f.label "", "C.E." %>
    </div>
    <div class="col-md-1">
    <%= f.radio_button :tipo_documento_comercio, "C.E." %>
    </div>
  </div>
</div>


<%= f.label :numero_documento_comercio %>
<%= f.text_field :numero_documento_comercio, class: 'form-control' %>
<%= f.label :numero_de_matricula_mercantil %>
<%= f.text_field :numero_de_matricula_mercantil, class: 'form-control' %>

<%= f.label :tipo_de_empresa %>
<div class="row">
  <div class="col-md-6">
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "Anónima"%>
      <%= f.label :tipo_de_empresa, 'Anónima'%>
    </div>
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "S.A.S." %>
      <%= f.label :tipo_de_empresa, "S.A.S." %>
    </div>
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "Limitada" %>
      <%= f.label :tipo_de_empresa, "Limitada" %>
    </div>
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "Sin ánimo de lucro" %>
      <%= f.label :tipo_de_empresa, "Sin ánimo de lucro" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "Pública" %>
      <%= f.label "", "Pública" %>
    </div>
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "Mixta" %>
      <%= f.label "", "Mixta" %>
    </div>
    <div class="radio">
      <%= f.radio_button :tipo_de_empresa, "Privada" %>
      <%= f.label "", "Privada" %>
    </div>
  </div>
</div>
<%= f.label :naturaleza %>
<div class="radio">
  <%= f.radio_button :naturaleza, "Jurídica" %>
  <%= f.label "", "Jurídica" %>
</div>
<div class="radio">
  <%= f.radio_button :naturaleza, "Natural" %>
  <%= f.label "", "Natural" %>
</div>

<div class="agencia">
  <div class="radio">
    <%= f.radio_button :agencia_de_viajes, "Agencia de viajes" %>
    <%= f.label "Agencia de viajes" %>
  </div>
  <div class="radio">
    <%= f.radio_button :agencia_de_viajes, "Venta propia" %>
    <%= f.label "Venta propia" %>
  </div>
  <div class="radio">
    <%= f.radio_button :agencia_de_viajes, "Venta propia y de tiquetes" %>
    <%= f.label "Venta propia y de tiquetes" %>
  </div>
  <div class="radio">
    <%= f.radio_button :agencia_de_viajes, "Aerolínea" %>
    <%= f.label "Aerolínea" %>
  </div>
  <%= f.label :numero_iata_av, "Nro. IATA" %>
  <%= f.text_field :numero_iata_av, class: 'form-control' %>
  <%= f.label "Requiere impuestos" %>
  <div class="radio">
    <%= f.radio_button :requiere_impuestos_av, "Sí" %>
    <%= f.label "Sí" %>
  </div>
  <div class="radio">
    <%= f.radio_button :requiere_impuestos_av, "No" %>
    <%= f.label "No" %>
  </div>
</div>

<%= f.label :actividad_comercial %>
<%= f.text_field :actividad_comercial, class: 'form-control' %>
<%= f.label :responsabilidad_tributaria %>
<%= f.text_field :responsabilidad_tributaria, class: 'form-control' %>
<%= f.label :codigo_ciiu %>
<%= f.text_field :codigo_ciiu, class: 'form-control' %>
<%= f.label :mcc %>
<%= f.text_field :mcc, class: 'form-control' %>

<%= f.label :tipo_de_afiliacion %>
<div class="checkbox">
  <%= f.check_box :venta_presencial_ta %>
  <%= f.label "", "Venta presencial" %>
</div>
<div class="checkbox">
  <%= f.check_box :mi_pago_ta %>
  <%= f.label "", "Mi pago" %>
</div>
<div class="checkbox">
  <%= f.check_box :multicomercio_ta %>
  <%= f.label "", "Multicomercio" %>
</div>
<div class="radio">
  <%= f.radio_button :comercio_principal_secundario_ta, "Principal" %>
  <%= f.label "", "Comercio principal" %>
</div>
<div class="radio">
  <%= f.radio_button :comercio_principal_secundario_ta, "Secundario" %>
  <%= f.label "", "Comercio secundario" %>
</div>

<h2>Sección Venta No Presencial</h2>
<div class="checkbox">
  <%= f.check_box :venta_no_presencial %>
  <%= f.label "", "Venta No Presencial" %>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="checkbox">
      <%= f.check_box :paga_cuentas %>
      <%= f.label "", "Paga cuentas" %>
    </div>
    <div class="checkbox">
      <%= f.check_box :visa_distribucion %>
      <%= f.label "", "Visa distribución" %>
    </div>
    <div class="checkbox">
      <%= f.check_box :pse %>
      <%= f.label "", "PSE" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="checkbox">
      <%= f.check_box :web_de_pagos %>
      <%= f.label "", "Web de pagos (MO/TO)" %>
    </div>
    <div class="checkbox">
      <%= f.check_box :recurrente %>
      <%= f.label "", "Recurrente" %>
    </div>
    <div class="checkbox">
      <%= f.check_box :api %>
      <%= f.label "", "API" %>
    </div>
    <div class="checkbox">
      <%= f.check_box :boton_de_pagos %>
      <%= f.label "", "Botón de pagos" %>
    </div>
    <div class="checkbox">
      <%= f.check_box :mall_virtual %>
      <%= f.label "", "Mall virtual" %>
    </div>
  </div>
</div>
<h2>Manejo de Herramientas de Seguridad</h2>
<div class="checkbox">
  <%= f.check_box :modulo_basico_afs %>
  <%= f.label "", "Módulo Básico - AFS" %>
</div>
<div class="checkbox">
  <%= f.check_box :modulo_avanzado_cybersource %>
  <%= f.label "", "Módulo Avanzado - Cybersource" %>
</div>

<h2>Sección Dirección del Establecimiento</h2>
<%= f.label :direccion_del_establecimiento %>
<%= f.text_field :direccion_del_establecimiento, class: 'form-control' %>
<%= f.label :telefono_del_establecimiento %>
<%= f.text_field :telefono_del_establecimiento, class: 'form-control' %>
<%= f.label :celular %>
<%= f.text_field :celular, class: 'form-control' %>
<%= f.label :fax %>
<%= f.text_field :fax, class: 'form-control' %>
<%= f.label :codigo_ciudad %>
<%= f.text_field :codigo_ciudad, class: 'form-control' %>
<%= f.label :codigo_departamento %>
<%= f.text_field :codigo_departamento, class: 'form-control' %>

<h2>Sección Dirección de Correspondencia/Notificaciones</h2>
<%= f.label :direccion_correspondencia %>
<%= f.text_field :direccion_correspondencia, class: 'form-control' %>
<%= f.label :telefono_correspondencia %>
<%= f.text_field :telefono_correspondencia, class: 'form-control' %>
<%= f.label :ciudad_correspondencia %>
<%= f.text_field :ciudad_correspondencia, class: 'form-control' %>
<%= f.label "Horario de atención" %>
<div class="radio">
  <%= f.radio_button :horario_atencion, "Diurno" %>
  <%= f.label "Diurno" %>
</div>
<div class="radio">
  <%= f.radio_button :horario_atencion, "Nocturno" %>
  <%= f.label "Nocturno" %>
</div>
<div class="radio">
  <%= f.radio_button :horario_atencion, "24 horas" %>
  <%= f.label "24 horas" %>
</div>
<%= f.label :correo_electronico %>
<%= f.text_field :correo_electronico, class: 'form-control' %>
<%= f.label :direccion_pagina_web %>
<%= f.text_field :direccion_pagina_web, class: 'form-control' %>
<h2>Sección Redes Sociales</h2>
<div class="checkbox">
  <%= f.check_box :facebook %>
  <%= f.label :facebook %>
</div>
<div class="checkbox">
  <%= f.check_box :twitter %>
  <%= f.label :twitter %>
</div>
<div class="checkbox">
  <%= f.check_box :youtube %>
  <%= f.label :youtube %>
</div>
<div class="checkbox">
  <%= f.check_box :foursquare %>
  <%= f.label :foursquare %>
</div>
<div class="checkbox">
  <%= f.check_box :flickr %>
  <%= f.label :flickr %>
</div>
<div class="checkbox">
  <%= f.check_box :linkedin %>
  <%= f.label :linkedin %>
</div>

<h2>Sección Tipo de Establecimiento</h2>
<%= f.label :tipo_de_establecimiento %>
<div class="radio">
  <%= f.radio_button :tipo_de_establecimiento, "Principal" %>
  <%= f.label "Principal" %>
</div>
<div class="radio">
  <%= f.radio_button :tipo_de_establecimiento, "Sucursal" %>
  <%= f.label "Sucursal" %>
</div>
<div class="checkbox">
  <%= f.check_box :afiliado_a_otro_sistema %>
  <%= f.label :afiliado_a_otro_sistema %>
</div>
<%= f.label :codigo_unico %>
<%= f.text_field :codigo_unico, class: 'form-control' %>
<div class="row">
  <div class="col-md-6">
    <div class="checkbox">
      <%= f.check_box :posee_medio_de_acceso %>
      <%= f.label :posee_medio_de_acceso %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="radio">
      <%= f.radio_button :tipo_medio_acceso, "Dial/Lan" %>
      <%= f.label "", "Dial/Lan" %>
    </div>
    <div class="radio">    
      <%= f.radio_button :tipo_medio_acceso, "GPRS" %>
      <%= f.label "", "GPRS" %>
    </div>
    <div class="radio">    
      <%= f.radio_button :tipo_medio_acceso, "MPOS" %>
      <%= f.label "", "MPOS" %>
    </div>
  </div>
</div>
<%= f.label "", "Propietario del medio de acceso" %>
<div class="radio">
  <%= f.radio_button :propietario_medio_acceso, "Credibanco" %>
  <%= f.label "Credibanco" %>
</div>
<div class="radio">
  <%= f.radio_button :propietario_medio_acceso, "Otra red" %>
  <%= f.label "Otra red" %>
</div>
<%= f.label "", "Indique si tiene exenciones tributarias" %>
<div class="checkbox">
  <%= f.check_box :exento_de_retencion_de_iva %>
  <%= f.label "", "Retención de IVA" %>
</div>
<div class="checkbox">
  <%= f.check_box :exento_de_retencion_de_ica %>
  <%= f.label "", "Retención de ICA" %>
</div>
<div class="checkbox">
  <%= f.check_box :exento_de_retencion_en_la_fuente %>
  <%= f.label "", "Retención en la fuente" %>
</div>
<%= f.label "", "Indique si requiere propina" %>
<div class="checkbox">
  <%= f.check_box :requiere_propina %>
  <%= f.label :requiere_propina %>
</div>
<%= f.label :porcentaje_de_iva %>
<%= f.text_field :porcentaje_de_iva, class: 'form-control' %>
<%= f.label :porcentaje_de_reteica %>
<%= f.text_field :porcentaje_de_reteica, class: 'form-control' %>
<%= f.label :porcentaje_de_retefuente %>
<%= f.text_field :porcentaje_de_retefuente, class: 'form-control' %>
<%= f.label :porcentaje_de_impuesto_al_consumo %>
<%= f.text_field :porcentaje_de_impuesto_al_consumo, class: 'form-control' %>

<h2>Sección Cuenta Bancaria Para Abonos</h2>
<%= f.label :numero_de_cuenta %>
<%= f.text_field :numero_de_cuenta, class: 'form-control' %>
<%= f.label :codigo_banco %>
<%= f.text_field :codigo_banco, class: 'form-control' %>
<%= f.label :nombre_del_banco %>
<%= f.text_field :nombre_del_banco, class: 'form-control' %>
<%= f.label :codigo_sucursal_banco %>
<%= f.text_field :codigo_sucursal_banco, class: 'form-control' %>
<%= f.label :titular_cuenta %>
<%= f.text_field :titular_cuenta, class: 'form-control' %>
<%= f.label :nit_cc %>
<%= f.text_field :nit_cc, class: 'form-control' %>
<%= f.label "", "Tipo de Cuenta" %>
<div class="radio">
  <%= f.radio_button :tipo_de_cuenta, "Ahorro" %>
  <%= f.label "Ahorro" %>
</div>
<div class="radio">
  <%= f.radio_button :tipo_de_cuenta, "Corriente" %>
  <%= f.label "Corriente" %>
</div>
<div class="radio">
  <%= f.radio_button :tipo_de_cuenta, "Fiduciaria" %>
  <%= f.label "Fiduciaria" %>
</div>
<%= f.label :nit_de_la_fiduciaria %>
<%= f.text_field :nit_de_la_fiduciaria, class: 'form-control' %>

<h2>Sección Datos Representante Legal</h2>
<%= f.label :nombres_y_apellidos_completos_rl %>
<%= f.text_field :nombres_y_apellidos_completos_rl, class: 'form-control' %>
<%= f.label "", "Tipo de documento" %>
<div class="radio">
  <%= f.radio_button :tipo_documento_rl, "NIT" %>
  <%= f.label "", "NIT" %>
</div>
<div class="radio">
  <%= f.radio_button :tipo_documento_rl, "C.C." %>
  <%= f.label "", "C.C." %>
</div>
<div class="radio">
  <%= f.radio_button :tipo_documento_rl, "C.E." %>
  <%= f.label "", "C.E." %>
</div>
<%= f.label :numero_documento_rl %>
<%= f.text_field :numero_documento_rl, class: 'form-control' %>
<div class="radio">
  <%= f.label :fecha_expedicion_documento_rl %>
  <%= f.date_select :fecha_expedicion_documento_rl, start_year: 1940 %>
</div>
<%= f.label :ciudad_expedicion_documento_rl %>
<%= f.text_field :ciudad_expedicion_documento_rl, class: 'form-control' %>
<div class="radio">
  <%= f.label :fecha_de_nacimiento_rl %>
  <%= f.date_select :fecha_de_nacimiento_rl, start_year: 1920 %>
</div>
<%= f.label :ciudad_nacimiento_rl %>
<%= f.text_field :ciudad_nacimiento_rl, class: 'form-control' %>
<%= f.label :departamento_nacimiento_rl %>
<%= f.text_field :departamento_nacimiento_rl, class: 'form-control' %>
<%= f.label :sexo_rl %>
<div class="radio">
  <%= f.radio_button :sexo_rl, "Femenino" %>
  <%= f.label "Femenino" %>
</div>
<div class="radio">
  <%= f.radio_button :sexo_rl, "Masculino" %>
  <%= f.label "Masculino" %>
</div>
<%= f.label :direccion_residencia_rl %>
<%= f.text_field :direccion_residencia_rl, class: 'form-control' %>
<%= f.label :ciudad_residencia_rl %>
<%= f.text_field :ciudad_residencia_rl, class: 'form-control' %>
<%= f.label :telefono_rl %>
<%= f.text_field :telefono_rl, class: 'form-control' %>
<%= f.label :correo_electronico_rl %>
<%= f.email_field :correo_electronico_rl, class: 'form-control' %>
<%= f.label :profesion_ocupacion_rl %>
<%= f.text_field :profesion_ocupacion_rl, class: 'form-control' %>
<%= f.label :cargo_rl %>
<%= f.text_field :cargo_rl, class: 'form-control' %>

<h2>Sección Datos Socios con más del 5% del capital social, aporte o participación</h2>
<%= f.fields_for :socios do |f_socio| %>
  <%= f_socio.label :nombres_y_apellidos %>
  <%= f_socio.text_field :nombres_y_apellidos, class: 'form-control' %>
  <%= f_socio.label "", "Tipo de documento" %>
  <div class="radio">
    <%= f_socio.radio_button :tipo_documento, "NIT" %>
    <%= f_socio.label "", "NIT" %>
  </div>
  <div class="radio">
    <%= f_socio.radio_button :tipo_documento, "C.C." %>
    <%= f_socio.label "", "C.C." %>
  </div>
  <div class="radio">
    <%= f_socio.radio_button :tipo_documento, "C.E." %>
    <%= f_socio.label "", "C.E." %>
  </div>
  <%= f_socio.label :numero_documento %>
  <%= f_socio.text_field :numero_documento, class: 'form-control' %>
  <%= f_socio.label :direccion %>
  <%= f_socio.text_field :direccion, class: 'form-control' %>
  <%= f_socio.label :ciudad %>
  <%= f_socio.text_field :ciudad, class: 'form-control' %>
  <%= f_socio.label :telefono %>
  <%= f_socio.text_field :telefono, class: 'form-control' %>
  <%= f_socio.label :celular %>
  <%= f_socio.text_field :celular, class: 'form-control' %>
  <%= f_socio.label :correo_electronico %>
  <%= f_socio.email_field :correo_electronico, class: 'form-control' %>
  <br><br>
<% end %>

<h2>Sección Referencias Personales del Propietario</h2>
<%= f.fields_for :referencias_personales do |form| %>
  <%= form.label :nombres_y_apellidos %>
  <%= form.text_field :nombres_y_apellidos, class: 'form-control' %>
  <%= form.label :direccion %>
  <%= form.text_field :direccion, class: 'form-control' %>
  <%= form.label :ciudad %>
  <%= form.text_field :ciudad, class: 'form-control' %>
  <%= form.label :telefono %>
  <%= form.text_field :telefono, class: 'form-control' %>
  <%= form.label :celular %>
  <%= form.text_field :celular, class: 'form-control' %>
  <%= form.label :correo_electronico %>
  <%= form.email_field :correo_electronico, class: 'form-control' %>
  <br><br>
<% end %>

<h2>Sección Referencias Comerciales Del Establecimiento</h2>
<%= f.fields_for :referencias_comerciales do |form| %>
  <%= form.label :nombres_y_apellidos %>
  <%= form.text_field :nombres_y_apellidos, class: 'form-control' %>
  <%= form.label :direccion %>
  <%= form.text_field :direccion, class: 'form-control' %>
  <%= form.label :ciudad %>
  <%= form.text_field :ciudad, class: 'form-control' %>
  <%= form.label :telefono %>
  <%= form.text_field :telefono, class: 'form-control' %>
  <%= form.label :celular %>
  <%= form.text_field :celular, class: 'form-control' %>
  <%= form.label :correo_electronico %>
  <%= form.email_field :correo_electronico, class: 'form-control' %>
  <br><br>
<% end %>
