<div class="container">
  <div class="jumbotron text-justify">
    <h1>Inscripción a medios de pago</h1>
    <p>A continuación debe completar toda la información requerida para su
      inscripción en los sistemas de medios de pago.</p>
    <p>Por favor tenga a la mano su documento de identidad, el certificado de
      Cámara de Comercio de su negocio, (si tiene) y el RUT.  Así mismo la
      información (nombre, NIT, direccion y teléfono) de dos referencias
      comerciales y de dos referencias personales.</p>
    <p>Al finalizar el proceso se generará un archivo pdf con los cinco (5)
      formatos requeridos llenos. </p>
  </div>

  <div class="pull-right">
    <%= link_to "Cancelar", "http://www.cajero.co", class: "btn btn-danger btn-lg" %>
    <%= link_to "Continuar", new_solicitud_path, class: "btn btn-success btn-lg" %>
  </div>

</div>

<br><br><br>
<div class="hide-this file">
  <div class="row">
    <%= form_tag import_cities_path, multipart: true do %>
      <div class="col-xs-5"><%= file_field_tag :file %></div>
      <div class="col-xs-2"><%= submit_tag "Importar", class: "btn btn-primary btn-sm " %></div>
    <% end %>
  </div>
</div>

<div class="hide-this download">
  <p>
    Descargar Datos:
    <%= link_to "CSV", clients_path(format: "csv") %> |
    <%= link_to "Excel(xls)", clients_path(format: "xls") %>
    <p>
      <%= link_to "Eliminar Registros", client_path(Client.all), method: :delete, data: {confirm: "Estas seguro de eliminar todos los registros?"}, class: "btn btn-danger" %>
    </p>
  </p>
</div>